.answer-button {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  gap: 8px;

  svg path {
    transition: all 0.2s;
  }
  
  &:hover {
    svg path {
      stroke: #835afd;
    }
  }
}