:root {
  --background-color: #F8F8F8;
  --card-background: #FEFEFE;
  --button-outlined-background: #FFFFFF;
  --input-background: #FFFFFF;
  --text-primary: #29292e;
  --text-secondary:#737380;
  --primary: #835afd;
  --question-highlighted: #F4F0FF;
  --question-answered: #DBDCDD;
}

[data-theme="dark"] {
  --card-background: #343439;
  --background-color: #29292e;
  --button-outlined-background: #343439;
  --input-background: ##343439;
  --text-primary: #f8f8f8;
  --text-secondary:#d4d4d4;
  --primary: #835afd;
  --question-highlighted: #4D4D51;
  --question-answered: ##29292e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}