.room-code {
  border-radius: 8px;
  overflow: hidden;
  background: var(--button-outlined-background);
  color: transparent;
  border: 1px solid #835afd;
  cursor: pointer;
  display: flex;
  align-items: stretch;

  div {
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  span {
    white-space: nowrap;
    width: 0px;
    transition: width 0.2s, color 0.3s cubic-bezier(1,.01,.72,1);
    align-self: center;
    flex: 1;
    color: transparent;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    span {
      width: 240px;
      color: var(--text-primary);
      padding: 0 16px 0 12px;
    }

    .tooltip {
      display: block;
      opacity: 1;
    }
  }
}