@mixin hide {
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  transition: opacity 0.3s linear;
  visibility: visible;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(5, 2, 6, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  &.visible {
    @include show;
  }

  &.hidden {
    @include hide;
  }

  > div {
    margin: 0 64px;
    background: #f8f8f8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 45%;
    min-width: 400px;

    svg {
      width: 48px;
      height: 48px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px;

      h1 {
        font-family: 'Poppins', sans-serif;
      }
  
      p {
        margin-top: 12px;
        color: #737380;
        text-align: center;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      white-space: nowrap;
    }
  }
}

@media (max-width: 468px) {
  .modal-container {
    > div {
      height: 40%;
    }
  }
}
